@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
@keyframes spinner {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

body * {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }
  body * ::placeholder {
    color: #909090; }

#root {
  display: flex;
  justify-content: center; }

.App {
  width: 976px; }
  .App .header,
  .App .section {
    padding: 32px; }
  .App .header {
    background-color: #ADB5BD;
    display: flex;
    align-items: center; }
    .App .header div {
      display: inline-block; }
    .App .header .logo-container .logo-spinner {
      display: inline-block;
      animation: spinner 6s linear infinite; }
    .App .header .logo-container .logo {
      background-color: #FFFFFF; }
    .App .header .title {
      color: #FFFFFF;
      margin-left: 16px;
      font-size: 24px;
      font-weight: bold; }
  .App .section {
    background-color: #F1F1F1;
    margin-bottom: 32px; }
    .App .section .title {
      color: #757575;
      font-size: 24px;
      font-weight: 500; }
    .App .section .table {
      display: table;
      width: 100%;
      background-color: #FFFFFF; }
      .App .section .table.add-table {
        margin-bottom: 10px; }
      .App .section .table .tr {
        display: table-row; }
        .App .section .table .tr .th {
          display: table-cell;
          font-size: 14px;
          color: #757575;
          line-height: 16px;
          padding: 16px 24px; }
          .App .section .table .tr .th .arrow {
            position: absolute;
            margin-left: 10px; }
          .App .section .table .tr .th.sort {
            color: #505050; }
        .App .section .table .tr .td {
          display: table-cell;
          font-size: 16px;
          height: 72px;
          line-height: 24px;
          padding: 24px;
          color: #505050; }
          .App .section .table .tr .td.col1 {
            width: 200px; }
          .App .section .table .tr .td.col2 {
            width: 270px; }
          .App .section .table .tr .td.col3 {
            width: 200px; }
          .App .section .table .tr .td.col4 {
            white-space: nowrap;
            width: 222px;
            text-align: right; }
            .App .section .table .tr .td.col4 button.cancel {
              margin-right: 10px; }
          .App .section .table .tr .td .icon {
            color: #909090;
            width: 24px;
            height: 24px;
            cursor: pointer;
            transition: color 0.5s; }
            .App .section .table .tr .td .icon:hover {
              color: #505050; }
            .App .section .table .tr .td .icon.edit {
              margin-right: 30px; }
        .App .section .table .tr.edit .td {
          padding: 16px; }
          .App .section .table .tr.edit .td input {
            background-color: #FAFAFA; }
    .App .section button,
    .App .section input {
      height: 40px;
      font-size: 16px; }
    .App .section input {
      width: 100%;
      border: 1px solid #F1F1F1;
      padding: 0px 16px;
      color: #505050; }
      .App .section input.error {
        border-color: #d9534f;
        background-color: #f2dede !important; }
    .App .section .errorMsg {
      color: #d9534f;
      font-size: 14px;
      max-height: 0px;
      transition: max-height 0.8s;
      overflow: hidden;
      padding: 6px 6px 0px 6px; }
      .App .section .errorMsg.show {
        max-height: 54px; }
    .App .section button {
      border: none;
      padding: 0 20px;
      font-weight: 500;
      white-space: nowrap;
      color: #FFFFFF;
      background-color: #07F;
      cursor: pointer;
      transition: all 0.5s; }
      .App .section button.cancel, .App .section button:disabled {
        background-color: #EDEDED;
        color: #757575; }
      .App .section button:disabled {
        cursor: not-allowed; }
