@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

$headerBGColor: #ADB5BD;
$white: #FFFFFF;
$contentBGColor: #F1F1F1;
$titleColor: #757575;
$iconColor: #909090;
$tableText: #505050;
$defaultButtonBGColor: #EDEDED;
$blueColor: #07F;
$addInputBGColor: #FAFAFA;
$editInputBGColor: #F9F9F9;
$redColor: #d9534f;
$redBGcolor: #f2dede;

@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

body * {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

  ::placeholder {
    color: $iconColor;
  }
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 976px;

  .header,
  .section {
    padding: 32px;
  }

  .header {
    background-color: $headerBGColor;
    display: flex;
    align-items: center;

    div {
      display: inline-block;
    }

    .logo-container {
      .logo-spinner {
        display: inline-block;
        animation: spinner 6s linear infinite;
      }

      .logo {
        background-color: $white;
      }
    }

    .title {
      color: $white;
      margin-left: 16px;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .section {
    background-color: $contentBGColor;
    margin-bottom: 32px;

    .title {
      color: $titleColor;
      font-size: 24px;
      font-weight: 500;
    }

    .table {
      display: table;
      width: 100%;
      background-color: $white;

      &.add-table {
        margin-bottom:10px;
      }

      .tr {
        display: table-row;

        .th {
          display: table-cell;
          font-size: 14px;
          color: $titleColor;
          line-height: 16px;
          padding: 16px 24px;

          .arrow {
            position: absolute;
            margin-left: 10px;
          }
          &.sort {
            color: $tableText;
          }
        }

        .td {
          display: table-cell;
          font-size: 16px;
          height: 72px;
          line-height: 24px;
          padding: 24px;
          color: $tableText;

          &.col1 {
            width: 200px;
          }

          &.col2 {
            width: 270px;
          }

          &.col3 {
            width: 200px;
          }

          &.col4 {
            white-space: nowrap;
            width: 222px;
            text-align: right;

            button.cancel {
              margin-right: 10px;
            }
          }

          .icon {
            color: $iconColor;
            width: 24px;
            height: 24px;
            cursor: pointer;
            transition: color 0.5s;

            &:hover {
              color: $tableText;
            }

            &.edit {
              margin-right: 30px;
            }
          }
        }

        &.edit {
          .td {
            padding: 16px;

            input {
              background-color: $addInputBGColor;
            }
          }
        }
      }
    }

    button,
    input {
      height: 40px;
      font-size: 16px;
    }

    input {
      width: 100%;
      border: 1px solid $contentBGColor;
      padding: 0px 16px;
      color: $tableText;

      &.error {
        border-color: $redColor;
        background-color: $redBGcolor !important;
      }
    }

    .errorMsg {
      color: $redColor;
      font-size: 14px;
      max-height: 0px;
      transition: max-height 0.8s;
      overflow: hidden;
      padding: 6px 6px 0px 6px;

      &.show {
        max-height: 54px;
      }
    }

    button {
      border: none;
      padding: 0 20px;
      font-weight: 500;
      white-space: nowrap;
      color: $white;
      background-color: $blueColor;
      cursor: pointer;
      transition: all 0.5s;

      &.cancel, &:disabled {
        background-color: $defaultButtonBGColor;
        color: $titleColor;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
